affine
branca
Click
descartes
Fiona
folium
geopandas
ipython
matplotlib
python-keycloak
cryptography
beautifulsoup4
numpy
tqdm
pandas
Pillow
pyproj
accsr==0.3.4
pytz
rasterio
Rtree
scikit-image
scipy
seaborn
Shapely
deprecated
scikit-learn